/* SIZE OF IMAGES */

/* img{
    width: 250px;
    height: 250px;
} */


/* ALIGNING IMAGES */

/* img{
    margin-left: 300px;
} */
/* 
img{
    float: right;
} */


/* CENTERING IMAGES */

/* img{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
} */



/* BACKGROUNG IMAGES */

/* body{
    background-image: url(./img/Large-bike.webp);
} */



/* BACKGROUND REPEAT */

/* body{
    background-image: url(./img/Large-bike.webp);
    background-attachment: scroll;
} */


/* BACKGROUND IMAGES */


/* body{
    background-image: url(/img/Small-bike.jpg);
    background-position: left;
    background-repeat: no-repeat;
} */



/*  LINEAR GRADIENT */

/* #gradient{
    background-image: linear-gradient(red yellow);
    background-repeat: no-repeat;
    height: 100vh;
} */



/* RADIAL GRADIENT */

/* #gradient{
    width: 400px;
    height: 400px;
    background-image: radial-gradient(red yellow);
    margin: auto;
} */


/* CONICAL GRADIENT */

#gradient{
    width: 400px;
    height: 400px;
    background-image: conic-gradient(red yellow);
    margin: auto;
}
